@import '../../../styles/variables';

.rate-label {
  font-size: 0.875rem;
  color: $textColor;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 1rem;
}